@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif SC", "Playfair Display", serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-color: #fdfaf6;
  color: #4a4a4a;
}
